<div class="grid grid-nogutter">
    <div class="col-12 sm:col-12 md:col-12 lg:col-7">
        <div class="grid h-screen-80">
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded" (onClick)="navigateTo('dentist')"> 
                    <img class="border-circle" src="assets/images/dentadura.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded" (onClick)="navigateTo('user')">
                    <img class="border-circle" src="assets/images/funcionario2.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded">
                    <img class="" src="assets/images/pessoa.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded">
                    <img class="" src="assets/images/consultas.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded">
                    <img class="border-circle" src="assets/images/agenda.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded">
                    <img class="border-circle" src="assets/images/rastreio.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded">
                    <img class="border-circle" src="assets/images/procedimentos.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded">
                    <img class="border-circle" src="assets/images/lembretes.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
            <div class="col-6 sm:col-md-4 md:col-4 lg:col-4 flex justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg p-button-text p-button-raised p-button-rounded">
                    <img class="border-circle" src="assets/images/Servicos.png" width="100%" style="max-height: 150px;">
                </p-button>
            </div>
        </div>

    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-5 h-screen-80">
        <prot-appointment-list></prot-appointment-list>
    </div>
</div>