<div class="grid grid-nogutter p-3 ">
    <div class="col-12 md:col-12 lg:col-7">
        <div class="grid h-screen-80">
            <div class="col-4 md:col-6 lg:col-4 flex   my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/dentadura.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex  my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/funcionario.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex  my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/pessoa.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex   my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/mine2.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex  my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/mine5.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex  my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/mine6.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex   my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/mine1.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex   my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/mine2.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
            <div class="col-4 md:col-6 lg:col-4 flex  my-3 justify-content-center align-items-center border-round">
                <p-button styleClass="p-button-lg">
                    <img class="border-circle" src="assets/images/mine3.png" width="100%" style="max-height: 200px;">
                </p-button>
            </div>
        </div>

    </div>
    <div class="col-12 md:col-12 lg:col-5 h-screen-80">
        <prot-appointment-list></prot-appointment-list>
    </div>
</div>