<!-- Linha principal dos conteúdos -->
<div class="flex sm:block md:block lg:flex grid my-4 " style="max-height: 100%;">
    <!-- Coluna da esquerda (Botões de acesso rápido) -->
    <div class="ui-md-8">
        <!-- Linha para organização e responsividade dos botões -->
        <div class="grid grid-nogutter">
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4  my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
            <div class="col-4 my-3 justify-content-center text-center">
                <p-button>Próteses</p-button>
            </div>
        </div>
    </div>
    <!-- Coluna da direita (Coluna de Notificações e lembretes)-->
    <div class="ui-md-4 flex-1 justify-content-center text-center">
        <div class="bg-gray-500 mx-2" style="height: 100%;">teste </div>
    </div>
</div>