<div>
    <p-menubar [model]="items" styleClass="navbar" class="navbar justify-content-between">
        <ng-template pTemplate="start">
            <img src="assets/images/dentist-logo.png" height="100" class="mr-2" (click)="redirectToLogin()">
        </ng-template>
        <ng-template pTemplate="end">
            <p class="mr-3 hidden md:inline-flex">Bem vindo, Guilherme</p>
        </ng-template>
    </p-menubar>

    <p-sidebar [(visible)]="display">
        Content
    </p-sidebar>
</div>
<main>
    <router-outlet></router-outlet>
</main>
<!-- <div style="height:100%; display:block p-2">
</div> -->